<html>
<head>
        <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1> Insert Developer</h1> </br>
    <h1>
        <a href="/">Insert developers</a>
        <a href="/getdeveloper">List developer</a>
        <a href="/inserttask">Insert Tasks</a>
        <a href="/gettask">List Tasks</a>
        <a href="/deletetasks">Delete Tasks</a>
        <a href="/deletealltask">Delete All complete Tasks</a>
        <a href="/updatetask">Update Tasks</a>
    </h1>
    <form action="/addnewdeveloper" method="POST">
        
        First Name <input type="text" method="POST" name="firstname" /> </br>
        Last Name <input type="text" method="POST" name="lastname" /> </br>
        Level <input type="text" method="POST" name="level" /> </br>
        
        State <input type="text" method="POST" name="state" /> </br>
        Suburb <input type="text" method="POST" name="suburb" /> </br>
        Street <input type="text" method="POST" name="street" /> </br>
        Unit <input type="text" method="POST" name="unit" /> </br>
        <input type="submit" value="Submit" /> </br>
        <img src="p1.png" width="1000" height="666">
    </form>
</body>
</html>