<html>
<head>
    <head>
        <link rel="stylesheet" href="styles.css">
        <style>
            table,th,td {
                border: 1px solid black;
            }
        </style>
    </head>
</head>
<body>
    <h1>List Developers</h1> </br>
    <h1>
        <a href="/">Insert developers</a>
        <a href="/getdeveloper">List developer</a>
        <a href="/inserttask">Insert Tasks</a>
        <a href="/gettask">List Tasks</a>
        <a href="/deletetasks">Delete Tasks</a>
        <a href="/deletealltask">Delete All complete Tasks</a>
        <a href="/updatetask">Update Tasks</a>
    </h1>
    <table>
        <tr>
            <td>DeveloperID</td>
            <td>FirstName</td>
            <td>LastName</td>
            <td>Level</td>
            <td>State</td>
            <td>Suburb</td>
            <td>Street</td>
            <td>Unit</td>
        </tr>
        <% for (let i=0;i<developerDb.length;i++){ %>
            <tr>
                <td><%= developerDb[i]._id %> </td>
                <td><%= developerDb[i].name.firstName %> </td>
                <td><%= developerDb[i].name.lastName %> </td>
                <td> <%= developerDb[i].level %> </td>
                <td><%= developerDb[i].address.state %></td>
                <td><%= developerDb[i].address.suburb %></td>
                <td><%= developerDb[i].address.street %></td>
                <td><%= developerDb[i].address.unit %></td>

            </tr>
            <%}%>
    </table>
</body>
</html>