<html>
        <head>
                <link rel="stylesheet" href="styles.css">
        </head>
<body>
    <h1>Update Tasks</h1></br>
    <h1>
            <a href="/">Insert developers</a>
            <a href="/getdeveloper">List developer</a>
            <a href="/inserttask">Insert Tasks</a>
            <a href="/gettask">List Tasks</a>
            <a href="/deletetasks">Delete Tasks</a>
            <a href="/deletealltask">Delete All complete Tasks</a>
            <a href="/updatetask">Update Tasks</a>
    </h1>
    <form action="/updatetaskdata" method="POST">
        Task ID <input type="text" method="POST" name="taskid" /> </br>
        Task new status <input type="text" method="POST" name="newtaskstatus" /> </br>       
        <input type="submit" value="Submit" /> </br>
    </form>
</body>
</html>